html {
    font-size: 125%;
}

ul, 
li, 
p {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 43px 0 0 37px;
}

img {
    max-width: 100%;
    height: 100%;
}

.wrapper {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}

