footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem;
    background-color: $black;
    color: $title;
    text-align: center;
        p:nth-child(1),
        p:nth-child(3)
        {
            font-size: 0.75rem;
        }
        p:nth-child(2) {
            margin: 20px 0;
                a:nth-child(1),
                a:nth-child(2)
                {
                    color: $title;
                    text-shadow: 0.5px 0.5px 0 $background;
                }
        }
        a {
            color: $background;
            text-decoration: none;
            &:hover,
            &:focus {
            border-bottom: 2px solid $text;
          }
        }
        
}