header {
    background-color: $background;
        .navFlex {
            display: flex; 
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            li {
                list-style: none;
                h1 {
                    a {
                    text-decoration: none;
                    color: $title;
                }
                }
                input {
                    width: 94%;
                    background-color: #f5f5f5;
                    border: none;
                    outline: none;
                    border-radius: 1rem;
                    height: 2rem;
                    padding: 0 2rem 0 1rem;
                }
                .searchButton {
                    color: $black;
                    background-color: transparent;
                    border: none;
                    margin-left: -2.4rem;
                }
                button:hover {
                cursor: pointer;
                }
                button[type=submit] {
                    position: relative;
                    i {
                        color: $black;
                    }
                }
            }
            .infoPopUp {
                button {
                    border: 2px solid $black;
                    border-radius: 15px;
                    padding: 9px 10px 5px;
                    color: $title;
                    background: none;
                }
                button:hover,
                button:focus {
                    background-color: $black;
                    color: $title;
                }
                .modal {
                    display: none;
                    position: fixed;
                    z-index: 1;
                    top: 6rem;
                    left: 2rem;
                    right: 2rem;
                    bottom: 1rem;
                    width: 91%;
                    max-height: 100%;
                    background-color: $text;
                    border-radius: 20px;
                    margin: auto;
                    .modalContent {
                        background-color: $text;
                        margin: 6% auto;
                        padding: 1rem;
                        border-radius: 15px;
                        width: 80%;
                        line-height: 2rem;
                        letter-spacing: 1px;
                        position: relative;
                        bottom: 3rem;
                        .closeModal {
                            color: $black;
                            position: relative;
                            bottom: 1.5rem;
                            left: 56rem;
                            font-family: $bodyFont;
                            font-size: 1.5rem;
                            font-weight: bold;
                            &:hover,
                            &:focus {
                                color: $background;
                                text-decoration: none;
                                cursor: pointer;
                            }
                        }
                        p {
                            color: $black;
                            font-weight: 400;
                            text-shadow: 0.5px 0.5px 0.5px darkgray;
                            span {
                                text-transform: uppercase;
                                color: $background;
                            }
                        }
                    }
                }
            }
            .inputItem {
                width: 50%;
            }
        }
    }

    .mobileNav {
        display: none;
    }
    
    label[for="mobileToggle"] {
        position: fixed;
        top: 1.5rem;
        left: 1.5rem;
        color: $title;
        font-size: 1rem;
    }

    .fa-bars {
        font-size: 2rem;
    }

    input[type="checkbox"]:checked + ul.mobileMenu {
        left: 0;
    }

    input[type="checkbox"] {
        display: none;
    }

    ul.mobileMenu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: $black;
        border-radius: 0 15px 15px 0;
        overflow: hidden;
        height: 80%;
        width: 25%;
        position: fixed;
        top: 5rem;
        left: -30%;
        z-index: 10;
        transition: all 0.5s;
            li {
                margin: 10px
            }
            a {
                // border-bottom: 1px solid $title;
                display: inline-block;
                font-family: $headingFont;
                font-size: 1.5rem;
                width: 100%;
                padding: 20px;
                transition: all 0.5s;
                text-decoration: none;
                text-transform: uppercase;
                color: $title;
                &:hover,
                &:focus {
                    background-color: $background;
                }
            }   
    }  
