// ***** 1200px *****

@media (max-width: 1200px) {
    aside {
        .asideFlex {
            margin-top: 3.2rem;
            li {
                font-size: 1.5rem;
            }
        }
    }

  .columnFlex {
    .discoverFlexContainer,
    .popularFlexContainer,
    .genresFlexContainer {
        .discoverImgContainer,
        .popularImageContainer,
        .genresImageContainer {
            width: 25%;
        }
        .discoverTextContainer,
        .popularTextContainer,
        .genresTextContainer {
            width: 75%;
        }
    }
  }
}

// ***** 940px *****
@media (max-width: 940px) {
    // .desktopNav {
    //     position: relative;
    //     .fa-star {
    //         position: absolute;
    //         top: 2.5rem;
    //         right: 7rem;
    //     }
    // }


    .mainHeader {
        font-size: 3rem;
    }
    aside {
        .asideFlex {
            margin-top: 2.65rem;
            li {
                font-size: 1.3rem;
            }
        }
    }

    .genreDropDown select {
    width: 30%
    }

    .columnFlex {
    display: flex; 
    flex-direction: column;
    align-items: center;

    .discoverFlexContainer,
    .popularFlexContainer,
    .genresFlexContainer,
    .searchMovieContainer {
        margin: 25px 40px;
        width: 90%;
        flex-wrap: wrap;
        display: flex;
        flex-direction: column-reverse;
        box-sizing: border-box;
        justify-content: flex-start;
        border-radius: 15px;
        background-color: $black;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
        .discoverImgContainer,
        .popularImageContainer,
        .genresImageContainer,
        .searchImgContainer {
            width: 100%;
            height: 70%;
            img {
                border-radius: 15px 15px 0 0px;
                object-fit: cover;
                height: 340px;
                width: 100%;
                object-position: center;
            }
        }
        .discoverTextContainer,
        .popularTextContainer,
        .genresTextContainer,
        .searchTextContainer {
            width: 80%;
            padding: 15px;
            height: 30%;
            position: relative;
            h3 {
                margin-top: 0;
            }
            h4 {
                margin-bottom: 5px;
            }
            p {
                font-size: 0.8rem;
                color: #808080;
                }
            }
        }
    }
    .grow { 
        transition: all .2s ease-in-out; 
    }
    .grow:hover { 
        transform: scale(1.1); 
    }

    footer {
        flex-direction: column;
    }

// ***** 768px *****
@media (max-width: 768px) {
    aside {
        display: none;
    }

    header {
            .navFlex {
                flex-direction: column;
                align-items: center;
                .inputItem > form:nth-child(1) {
                    display: flex;
                    justify-content: center;
                }
                .infoPopUp {
                button {
                    padding: 8px 10px 4px;
                }
            }
                .infoIcon {
                    position: absolute;
                    top: 1.5rem;
                    right: 1.5rem;
                }
            }
    }

    .mobileNav {
        display: contents;
        ul.mobileMenu {
            width: 30%;
        }
    }

    .mainHeader {
        text-align: center;
    }

    h2 {
        margin: 35px 0 0 0;
    }

    .genreDropDown {
        justify-content: center;
        margin-top: 1rem;
        margin-left: 0;
    }

    .movieFlex {
        display: flex; 
        flex-direction: column;
        align-items: center;
        .movieContainer {
            margin: 25px 40px;
            width: 90%;
            flex-wrap: wrap;
            display: flex;
            flex-direction: column-reverse;
            box-sizing: border-box;
            justify-content: flex-start;
            border-radius: 15px;
            background-color: $black;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
            .trendingImgContainer {
                width: 100%;
                height: 70%;
                img {
                    border-radius: 15px 15px 0 0px;
                    object-fit: cover;
                    height: 340px;
                    width: 100%;
                    object-position: center;
                }
            }
            .trendingTextContainer {
                width: 80%;
                padding: 15px;
                height: 30%;
                position: relative;
                h3 {
                    margin-top: 0;
                }
                h4 {
                    margin-bottom: 5px;
                }
                p {
                    font-size: 0.8rem;
                    color: #808080;
                    }
            }
        }
    }
  } 
}

// ***** 568px *****
@media (max-width: 568px) {
    header {
        .desktopNav {
            position: relative;
            .infoPopUp {
                button {
                    padding: 7px 10px 4px;
                }
            }
            .infoIcon {
                position: absolute;
                top: 0.55rem;
                right: -0.5rem;
            }
        }
        label[for="mobileToggle"] {
            top: 0.5rem;
            left: 0.5rem;
        }
    }
    .mobileNav {
        ul.mobileMenu {
            width: 40%;
            left: -40%;
        }
    }
    .genreDropDown select {
        width: 35%;
    }
}

// ***** 480px *****
@media (max-width: 480px) {
    header {
        .desktopNav {
            position: relative;
            .navFlex {
                .inputItem {
                    width: 60%;
                }
                .infoIcon {
                    position: absolute;
                    top: 0.55rem;
                }
            }
        }
    }
    .mobileNav {
        ul.mobileMenu {
            width: 45%;
            left: -45%;
        }
    }
    .genreDropDown select {
        width: 40%;
    }

    footer {
        p:nth-child(2) {
            font-size: 0.9rem;
        }
    }
}

// ***** 320px *****
@media (max-width: 320px) {
    header {
        .desktopNav {
            position: relative;
            .navFlex {
                h1 {
                    font-size: 2.5rem;
                }
                .inputItem {
                    width: 80%;
                    text-align: center;
                }
                .infoPopUp {
                    button {
                        border-radius: 10px;
                    }
                }
                .infoIcon {
                    position: absolute;
                    top: 0.53rem;
                    font-size: 0.6rem;
                }
            }
        }
        label .fa-bars {
            font-size: 1.5rem;
        }
    }
    .mobileNav {
        ul.mobileMenu {
            width: 65%;
            left: -65%;
        }
    }
    .genreDropDown {
        flex-direction: column;
        select {
            width: 75%;
            margin-top: 1rem;
        }
    }
    .movieFlex {
        .movieContainer {
            margin: 25px 20px;
            width: 80%;
        }
    }
}



