main {
    background-color: $background;
    form {
        margin-left: 38px;
    }
}

.mainSection {
    width: 100%;
}

.mainFlex {
    display: flex;
    flex-direction: row;
}

aside {
    width: 15%;
    .asideFlex {
        display: flex; 
        flex-direction: column;
        margin-top: 3rem;
        border-right: 1px solid black;
        li {
            list-style: none;
            margin-bottom: 60px;
            span {
                font-size: 1.5rem;
                cursor: pointer;
            }
        }
    }
}

.genreDropDown {
  display: flex;
  align-items: center;
  label {
    text-shadow: 2px 2px 2px $black;
    text-transform: uppercase;
    font-weight: 400;
  }
  select {
    appearance: none;
    width: 20%;
    border: transparent;
    border-radius: 15px;
    padding: 2px 5px;
    margin-left:5px;
    font-family: $bodyFont;
    text-align: center;
    background: $title;
    background-image: url(../images/film-solid.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 95% center;
  }
  option {
      font-family: $bodyFont;
  }
}

.movieFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .movieContainer {
        margin: 25px 40px 40px;
        width: calc((100% / 3) - 80px);
        flex-wrap: wrap;
        display: flex;
        flex-direction: column-reverse;
        box-sizing: border-box;
        justify-content: flex-end;
        border-radius: 15px;
        background-color: $black;
        .trendingImgContainer {
            width: 100%;
            img {
                border-radius: 15px 15px 0 0 ;
            }
        }
        .trendingTextContainer {
            width: 100%;
            min-height: 20rem;
            margin-top: -7px;
            padding: 15px;
            h3, h4 {
                font-size: 1rem;
            }
            h4 {
                margin-bottom: 10px
            }
        }
    }
}

.columnFlex {
    display: flex; 
    flex-direction: column;
    .discoverFlexContainer {
        margin: 25px 40px;
        width: 90%;
        flex-wrap: wrap;
        display: flex;
        flex-direction: row-reverse;
        box-sizing: border-box;
        justify-content: flex-start;
        border-radius: 15px;
        background-color: $black;box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px;
        .discoverImgContainer{
            width: 20%;
            img {
                border-radius: 15px 0 0 15px;
            }
        }
        .discoverTextContainer {
            width: 80%;
            padding: 15px;
        }
    }
}

.searchFlex {
    display: flex; 
    flex-direction: column;
    .searchMovieContainer {
        margin: 25px 40px;
        width: 90%;
        flex-wrap: wrap;
        display: flex;
        flex-direction: row-reverse;
        box-sizing: border-box;
        justify-content: flex-start;
        border-radius: 15px;
        background-color: black;
        .searchImgContainer {
            width: 20%;
        }
        .searchTextContainer {
            width: 80%;
            padding: 15px;
            h3 {
                font-size: 1rem;
            }
            h4 {
                margin-bottom: 10px;
            }
        }
    }
}

.linkButton {
    display: inline-block;
    background: $black;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    border: 2px solid $background;
    color: $title;
    font-weight: bold;
    line-height: 25px;
    margin-top: 20px;
    text-decoration: none;
    font-family: $bodyFont;
    transition: 0.2s ease-in;
}

.linkButton:hover {
    background: $background
}

.carouselMain {
    position: relative;
    height: 600px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carouselImages {
    width: 100%;
    object-fit: cover;
}

.carouselTrackContainer {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carouselTrack {
    padding: 0;
    margin: 0; 
    //position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.carouselCard {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    border-radius: 15px;
    .carouselImgContainer {
        width: 50%; 
        img {
            border-radius: 15px 0px 0px 15px
        }
    }
    .carouselTextContainer {
        width: 50%;
        background-color: $black;
        border-radius: 0px 15px 15px 0px

    }
}

.carouselButton {
    position: absolute;
    top: 50%; 
    transform: translateY(50%);
    background: transparent;
    border: none;
    cursor: pointer;
    i {
        width: 15px;
    }
}

.carouselButtonRight {
    right: -30px; 
}

.carouselButtonLeft {
    left: -30px
}

.carouselNav {
    display: flex; 
    justify-content: center;
    .carouselIndicator {
        border: 0;
        border-radius: 50%;
        height: 20px;
        width: 20px; 
        background: $title;
        margin: 0 15px;
        cursor: pointer;
    }
}
.carouselIndicator.currentSlide {
    background: $black;
}

.isHidden {
    display: none;
}