main {
    background-color: $background;
}

.mainFlex {
    display: flex;
    flex-direction: row;
}

aside {
    width: 15%;
    .asideFlex {
        display: flex; 
        flex-direction: column;
        margin-top: 3rem;
        border-right: 1px solid black;
        li {
            list-style: none;
            margin-bottom: 60px;
            span {
                font-size: 1.5rem;
            }
        }
    }
}

.movieFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .movieContainer {
        margin: 25px 40px 40px;
        width: calc((100% / 3) - 80px);
        flex-wrap: wrap;
        display: flex;
        flex-direction: column-reverse;
        box-sizing: border-box;
        justify-content: flex-end;
        border-radius: 15px;
        background-color: $black;
        .trendingImgContainer {
            width: 100%;
        }
        .trendingTextContainer {
            width: 100%;
            min-height: 20rem;
            margin-top: -7px;
            padding: 15px;
            h3, h4 {
                font-size: 1rem;
            }
            h4 {
                margin-bottom: 10px
            }
        }
    }
}

.discoverFlex {
    display: flex; 
    flex-direction: column;
    .discoverFlexContainer {
        margin: 25px 40px;
        width: 90%;
        flex-wrap: wrap;
        display: flex;
        flex-direction: row-reverse;
        box-sizing: border-box;
        justify-content: flex-start;
        border-radius: 15px;
        background-color: $black;
        .discoverImgContainer {
            width: 20%;
        }
        .discoverTextContainer {
            width: 80%;
            padding: 15px;
        }
    }
}

.popularFlex {
    display: flex;
    flex-direction: column;
    .popularFlexContainer {
        margin: 25px 40px;
        width: 90%;
        flex-wrap: wrap;
        display: flex;
        flex-direction: row-reverse;
        box-sizing: border-box;
        justify-content: flex-start;
        border-radius: 15px;
        background-color: black;
        .popularImageContainer {
            width: 20%;
        }
        .popularTextContainer {
            width: 80%;
            padding: 15px;
            h3 {
                font-size: 1rem;
            }
            h4 {
                margin-bottom: 10px; 
            }
        }
    }
}

.searchFlex {
    display: flex; 
    flex-direction: column;
    .searchMovieContainer {
        margin: 25px 40px;
        width: 90%;
        flex-wrap: wrap;
        display: flex;
        flex-direction: row-reverse;
        box-sizing: border-box;
        justify-content: flex-start;
        border-radius: 15px;
        background-color: black;
        .searchImgContainer {
            width: 20%;
        }
        .searchTextContainer {
            width: 80%;
            padding: 15px;
            h3 {
                font-size: 1rem;
            }
            h4 {
                margin-bottom: 10px;
            }
        }
    }
}

.genresFlex {
    display: flex;
    flex-wrap: wrap;
    .genresFlexContainer {
        width: 33.3%;
        .genresTextContainer {
            h2 {
                font-size: 3rem;
                margin: 40px 38px;
            }
        }
    }
}
