.mainFlex {
    display: flex;
    flex-direction: row;
}

aside {
    width: 15%;
    .asideFlex {
        display: flex; 
        flex-direction: column;
        margin-top: 3rem;
        border-right: 1px solid black;
        li {
            list-style: none;
            margin-bottom: 60px;
        }
    }
}

.movieFlex {
    display: flex;
    flex-direction: row;
    .movieContainer {
        margin: 0px 40px;
        width: calc((100% / 3) - 80px);
        display: flex;
        flex-direction: column-reverse;
        box-sizing: border-box;
        justify-content: flex-end;
        border-radius: 15px;
        
        .trendingImgContainer {
            width: 100%;
            img {
                width: 100%;
            } 
        }
        .trendingTextContainer {
            width: 100%;
            h3 {
                font-size: 1rem;
            }
            h4 {
                margin-bottom: 10px
            }
        }
    }
}