main {
    background-color: $background;
    form {
        margin-left: 38px;
    }
}

.mainFlex {
    display: flex;
    flex-direction: row;
}

aside {
    width: 15%;
    .asideFlex {
        display: flex; 
        flex-direction: column;
        margin-top: 3rem;
        border-right: 1px solid black;
        li {
            list-style: none;
            margin-bottom: 60px;
            span {
                font-size: 1.5rem;
                cursor: pointer;
            }
        }
    }
}

.genreDropDown {
  display: flex;
  align-items: center;
  label {
    text-shadow: 2px 2px 2px $black;
    text-transform: uppercase;
    font-weight: 400;
  }
  select {
    appearance: none;
    width: 20%;
    border: transparent;
    border-radius: 15px;
    padding: 2px 5px;
    margin-left:5px;
    font-family: $bodyFont;
    text-align: center;
    background: $title;
    background-image: url(../images/film-solid.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 95% center;
  }
  option {
      font-family: $bodyFont;
  }
}

.movieFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .movieContainer {
        margin: 25px 40px 40px;
        width: calc((100% / 3) - 80px);
        flex-wrap: wrap;
        display: flex;
        flex-direction: column-reverse;
        box-sizing: border-box;
        justify-content: flex-end;
        border-radius: 15px;
        background-color: $black;
        .trendingImgContainer {
            width: 100%;
            img {
                border-radius: 15px 15px 0 0 ;
            }
        }
        .trendingTextContainer {
            width: 100%;
            min-height: 20rem;
            margin-top: -7px;
            padding: 15px;
            h3, h4 {
                font-size: 1rem;
            }
            h4 {
                margin-bottom: 10px
            }
        }
    }
}

.columnFlex {
    display: flex; 
    flex-direction: column;
    .discoverFlexContainer,
    .popularFlexContainer,
    .genresFlexContainer {
        margin: 25px 40px;
        width: 90%;
        flex-wrap: wrap;
        display: flex;
        flex-direction: row-reverse;
        box-sizing: border-box;
        justify-content: flex-start;
        border-radius: 15px;
        background-color: $black;
        .discoverImgContainer,
        .popularImageContainer,
        .genresImageContainer {
            width: 20%;
            img {
                border-radius: 15px 0 0 15px;
            }
        }
        .discoverTextContainer,
        .popularTextContainer,
        .genresTextContainer {
            width: 80%;
            padding: 15px;
        }
    }
}

.searchFlex {
    display: flex; 
    flex-direction: column;
    .searchMovieContainer {
        margin: 25px 40px;
        width: 90%;
        flex-wrap: wrap;
        display: flex;
        flex-direction: row-reverse;
        box-sizing: border-box;
        justify-content: flex-start;
        border-radius: 15px;
        background-color: black;
        .searchImgContainer {
            width: 20%;
        }
        .searchTextContainer {
            width: 80%;
            padding: 15px;
            h3 {
                font-size: 1rem;
            }
            h4 {
                margin-bottom: 10px;
            }
        }
    }
}

.carouselWrapper {
    position: relative;
}
.carouselCard {
    display: flex; 
    flex-direction: row;
    width: 100%; 
    border-radius: 15px;
    height: 600px;
    display: none;
    .carouselTextContainerOne,
    .carouselTextContainerTwo,
    .carouselTextContainerThree {
        width: 45%
    }
    .carouselImgContainerOne,
    .carouselImgContainerTwo, 
    .carouselImgContainerThree {
        width: 55%;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
}

.linkButton {
    display: inline-block;
    background: $black;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    border: 2px solid $background;
    color: $title;
    font-weight: bold;
    line-height: 25px;
    margin-top: 20px;
    text-decoration: none;
    font-family: $bodyFont;
    transition: 0.2s ease-in;
}

.linkButton:hover {
    background: $background
}

.carouselCardSelected {
    display: flex;
}
.carouselNav {
    text-align: center;
    width: 100%;
    padding: 20px 0; 
    position: absolute;
    bottom: 0;
    left: 0;
    .carouselButton {
        width: 10px;
        height: 10px; 
        display: inline-block; 
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        margin: 0 5px; 
    }
}
.carouselButtonSelected {
    background-color: rgba(255, 255, 255)
}