// @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Titillium+Web:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Titillium+Web:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Norican&display=swap');

h1 {
  font-family: $logoFont;
  font-weight: 700;
  font-style: italic;
  font-size: 4rem;
  letter-spacing: 1px;
  margin: 1rem 0;
  text-shadow: 3px 3px 3px $black;
}

h2 {
    font-family: $headingFont;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 5rem;
    color: $title;
}

h3, h4 {
    font-family: $bodyFont;
    color: $title;
    text-transform: uppercase;
}

p,
.genreDropDown {
  font-family: $bodyFont;
  font-weight: 300;
  color: $text;
}

.asideFlex {
  li {
    font-family: $headingFont;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 2rem;
      a {
        text-decoration: none;
        color: $title;
      }
  }
}

footer p {
  font-family: $bodyFont;
  font-weight: 400;
  letter-spacing: -0.5px;
  line-height: 25px;
  color: lightgray;
}

