// Font Variables

$logoFont: 'Norican', cursive;
$headingFont: 'Titillium Web', sans-serif;
$bodyFont: 'Roboto', sans-serif;

// Color Variables

$title: #FFFFFF;
$background: #BF0505;
$text: #E8E8E8;
$black: #171717;
$gold: #FFD809;
