@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Titillium+Web:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Norican&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1 {
  font-family: "Norican", cursive;
  font-weight: 700;
  font-style: italic;
  font-size: 4rem;
  letter-spacing: 1px;
  margin: 1rem 0;
  text-shadow: 3px 3px 3px #171717;
}

h2 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 5rem;
  color: #FFFFFF;
}

h3, h4 {
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  text-transform: uppercase;
}

p,
.genreDropDown {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #E8E8E8;
}

.asideFlex li {
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 2rem;
}
.asideFlex li a {
  text-decoration: none;
  color: #FFFFFF;
}

footer p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: -0.5px;
  line-height: 25px;
  color: lightgray;
}

html {
  font-size: 125%;
}

ul,
li,
p {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 43px 0 0 37px;
}

img {
  max-width: 100%;
  height: 100%;
}

.wrapper {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

header {
  background-color: #BF0505;
}
header .navFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .navFlex li {
  list-style: none;
}
header .navFlex li h1 a {
  text-decoration: none;
  color: #FFFFFF;
}
header .navFlex li input {
  width: 94%;
  background-color: #f5f5f5;
  border: none;
  outline: none;
  border-radius: 1rem;
  height: 2rem;
  padding: 0 2rem 0 1rem;
}
header .navFlex li .searchButton {
  color: #171717;
  background-color: transparent;
  border: none;
  margin-left: -2.4rem;
}
header .navFlex li button:hover {
  cursor: pointer;
}
header .navFlex li button[type=submit] {
  position: relative;
}
header .navFlex li button[type=submit] i {
  color: #171717;
}
header .navFlex .infoPopUp button {
  border: 2px solid #171717;
  border-radius: 15px;
  padding: 9px 10px 5px;
  color: #FFFFFF;
  background: none;
}
header .navFlex .infoPopUp button:hover,
header .navFlex .infoPopUp button:focus {
  background-color: #171717;
  color: #FFFFFF;
}
header .navFlex .inputItem {
  width: 50%;
}

.mobileNav {
  display: none;
}

label[for=mobileToggle] {
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;
  color: #FFFFFF;
  font-size: 1rem;
}

.fa-bars {
  font-size: 2rem;
}

input[type=checkbox]:checked + ul.mobileMenu {
  left: 0;
}

input[type=checkbox] {
  display: none;
}

ul.mobileMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #171717;
  border-radius: 0 15px 15px 0;
  overflow: hidden;
  height: 80%;
  width: 25%;
  position: fixed;
  top: 5rem;
  left: -30%;
  z-index: 10;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
ul.mobileMenu li {
  margin: 10px;
}
ul.mobileMenu a {
  display: inline-block;
  font-family: "Titillium Web", sans-serif;
  font-size: 1.5rem;
  width: 100%;
  padding: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
}
ul.mobileMenu a:hover, ul.mobileMenu a:focus {
  background-color: #BF0505;
}

main {
  background-color: #BF0505;
}
main form {
  margin-left: 38px;
}

.mainFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

aside {
  width: 15%;
}
aside .asideFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 3rem;
}
aside .asideFlex li {
  list-style: none;
  margin-bottom: 60px;
}
aside .asideFlex li span {
  font-size: 1.7rem;
  cursor: pointer;
}
aside .asideFlex li span a:hover,
aside .asideFlex li span a:focus {
  text-shadow: 6px 6px 4px #171717;
}

.genreDropDown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.genreDropDown label {
  text-shadow: 2px 2px 2px #171717;
  text-transform: uppercase;
  font-weight: 400;
}
.genreDropDown select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 20%;
  border: transparent;
  border-radius: 15px;
  padding: 2px 5px;
  margin-left: 5px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  background: #FFFFFF;
  background-image: url(../images/film-solid.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 95% center;
}
.genreDropDown option {
  font-family: "Roboto", sans-serif;
}

.movieFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.movieFlex .movieContainer {
  margin: 25px 40px 40px;
  width: calc((100% / 3) - 80px);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-radius: 15px;
  background-color: #171717;
}
.movieFlex .movieContainer .trendingImgContainer {
  width: 100%;
}
.movieFlex .movieContainer .trendingImgContainer img {
  border-radius: 15px 15px 0 0;
}
.movieFlex .movieContainer .trendingTextContainer {
  width: 100%;
  min-height: 20rem;
  margin-top: -7px;
  padding: 15px;
}
.movieFlex .movieContainer .trendingTextContainer h3, .movieFlex .movieContainer .trendingTextContainer h4 {
  font-size: 1rem;
}
.movieFlex .movieContainer .trendingTextContainer h4 {
  margin-bottom: 10px;
}

.columnFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.columnFlex .discoverFlexContainer,
.columnFlex .popularFlexContainer,
.columnFlex .genresFlexContainer,
.columnFlex .searchMovieContainer {
  margin: 25px 40px;
  width: 90%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 15px;
  background-color: #171717;
}
.columnFlex .discoverFlexContainer .discoverImgContainer,
.columnFlex .discoverFlexContainer .popularImageContainer,
.columnFlex .discoverFlexContainer .genresImageContainer,
.columnFlex .discoverFlexContainer .searchImgContainer,
.columnFlex .popularFlexContainer .discoverImgContainer,
.columnFlex .popularFlexContainer .popularImageContainer,
.columnFlex .popularFlexContainer .genresImageContainer,
.columnFlex .popularFlexContainer .searchImgContainer,
.columnFlex .genresFlexContainer .discoverImgContainer,
.columnFlex .genresFlexContainer .popularImageContainer,
.columnFlex .genresFlexContainer .genresImageContainer,
.columnFlex .genresFlexContainer .searchImgContainer,
.columnFlex .searchMovieContainer .discoverImgContainer,
.columnFlex .searchMovieContainer .popularImageContainer,
.columnFlex .searchMovieContainer .genresImageContainer,
.columnFlex .searchMovieContainer .searchImgContainer {
  width: 20%;
}
.columnFlex .discoverFlexContainer .discoverImgContainer img,
.columnFlex .discoverFlexContainer .popularImageContainer img,
.columnFlex .discoverFlexContainer .genresImageContainer img,
.columnFlex .discoverFlexContainer .searchImgContainer img,
.columnFlex .popularFlexContainer .discoverImgContainer img,
.columnFlex .popularFlexContainer .popularImageContainer img,
.columnFlex .popularFlexContainer .genresImageContainer img,
.columnFlex .popularFlexContainer .searchImgContainer img,
.columnFlex .genresFlexContainer .discoverImgContainer img,
.columnFlex .genresFlexContainer .popularImageContainer img,
.columnFlex .genresFlexContainer .genresImageContainer img,
.columnFlex .genresFlexContainer .searchImgContainer img,
.columnFlex .searchMovieContainer .discoverImgContainer img,
.columnFlex .searchMovieContainer .popularImageContainer img,
.columnFlex .searchMovieContainer .genresImageContainer img,
.columnFlex .searchMovieContainer .searchImgContainer img {
  border-radius: 15px 0 0 15px;
}
.columnFlex .discoverFlexContainer .discoverTextContainer,
.columnFlex .discoverFlexContainer .popularTextContainer,
.columnFlex .discoverFlexContainer .genresTextContainer,
.columnFlex .discoverFlexContainer .searchTextContainer,
.columnFlex .popularFlexContainer .discoverTextContainer,
.columnFlex .popularFlexContainer .popularTextContainer,
.columnFlex .popularFlexContainer .genresTextContainer,
.columnFlex .popularFlexContainer .searchTextContainer,
.columnFlex .genresFlexContainer .discoverTextContainer,
.columnFlex .genresFlexContainer .popularTextContainer,
.columnFlex .genresFlexContainer .genresTextContainer,
.columnFlex .genresFlexContainer .searchTextContainer,
.columnFlex .searchMovieContainer .discoverTextContainer,
.columnFlex .searchMovieContainer .popularTextContainer,
.columnFlex .searchMovieContainer .genresTextContainer,
.columnFlex .searchMovieContainer .searchTextContainer {
  width: 80%;
  padding: 15px;
}

.carouselWrapper {
  position: relative;
}

.carouselCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  border-radius: 15px;
  height: 600px;
  display: none;
}
.carouselCard .carouselTextContainerOne,
.carouselCard .carouselTextContainerTwo,
.carouselCard .carouselTextContainerThree {
  width: 45%;
}
.carouselCard .carouselImgContainerOne,
.carouselCard .carouselImgContainerTwo,
.carouselCard .carouselImgContainerThree {
  width: 55%;
}
.carouselCard .carouselImgContainerOne img,
.carouselCard .carouselImgContainerTwo img,
.carouselCard .carouselImgContainerThree img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.linkButton {
  display: inline-block;
  background: #171717;
  padding: 10px;
  text-align: center;
  border-radius: 15px;
  border: 2px solid #BF0505;
  color: #FFFFFF;
  font-weight: bold;
  line-height: 25px;
  margin-top: 20px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.linkButton:hover,
.linkButton:focus {
  background: #BF0505;
}

.carouselCardSelected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carouselNav {
  text-align: center;
  width: 100%;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  left: 0;
}
.carouselNav .carouselButton {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  margin: 0 5px;
}

.carouselButtonSelected {
  background-color: white;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2.5rem;
  background-color: #171717;
  color: #FFFFFF;
  text-align: center;
}
footer p:nth-child(1),
footer p:nth-child(3) {
  font-size: 0.75rem;
}
footer p:nth-child(2) {
  margin: 20px 0;
}
footer p:nth-child(2) a:nth-child(1),
footer p:nth-child(2) a:nth-child(2) {
  color: #FFFFFF;
  text-shadow: 0.5px 0.5px 0 #BF0505;
}
footer a {
  color: #BF0505;
  text-decoration: none;
}
footer a:hover, footer a:focus {
  border-bottom: 2px solid #E8E8E8;
}

@media (max-width: 1200px) {
  aside .asideFlex {
    margin-top: 3.2rem;
  }
  aside .asideFlex li {
    font-size: 1.5rem;
  }

  .columnFlex .discoverFlexContainer .discoverImgContainer,
.columnFlex .discoverFlexContainer .popularImageContainer,
.columnFlex .discoverFlexContainer .genresImageContainer,
.columnFlex .popularFlexContainer .discoverImgContainer,
.columnFlex .popularFlexContainer .popularImageContainer,
.columnFlex .popularFlexContainer .genresImageContainer,
.columnFlex .genresFlexContainer .discoverImgContainer,
.columnFlex .genresFlexContainer .popularImageContainer,
.columnFlex .genresFlexContainer .genresImageContainer {
    width: 25%;
  }
  .columnFlex .discoverFlexContainer .discoverTextContainer,
.columnFlex .discoverFlexContainer .popularTextContainer,
.columnFlex .discoverFlexContainer .genresTextContainer,
.columnFlex .popularFlexContainer .discoverTextContainer,
.columnFlex .popularFlexContainer .popularTextContainer,
.columnFlex .popularFlexContainer .genresTextContainer,
.columnFlex .genresFlexContainer .discoverTextContainer,
.columnFlex .genresFlexContainer .popularTextContainer,
.columnFlex .genresFlexContainer .genresTextContainer {
    width: 75%;
  }
}
@media (max-width: 940px) {
  .mainHeader {
    font-size: 3rem;
  }

  aside .asideFlex {
    margin-top: 2.65rem;
  }
  aside .asideFlex li {
    font-size: 1.3rem;
  }

  .genreDropDown select {
    width: 30%;
  }

  .columnFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .columnFlex .discoverFlexContainer,
.columnFlex .popularFlexContainer,
.columnFlex .genresFlexContainer,
.columnFlex .searchMovieContainer {
    margin: 25px 40px;
    width: 90%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    border-radius: 15px;
    background-color: #171717;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  }
  .columnFlex .discoverFlexContainer .discoverImgContainer,
.columnFlex .discoverFlexContainer .popularImageContainer,
.columnFlex .discoverFlexContainer .genresImageContainer,
.columnFlex .discoverFlexContainer .searchImgContainer,
.columnFlex .popularFlexContainer .discoverImgContainer,
.columnFlex .popularFlexContainer .popularImageContainer,
.columnFlex .popularFlexContainer .genresImageContainer,
.columnFlex .popularFlexContainer .searchImgContainer,
.columnFlex .genresFlexContainer .discoverImgContainer,
.columnFlex .genresFlexContainer .popularImageContainer,
.columnFlex .genresFlexContainer .genresImageContainer,
.columnFlex .genresFlexContainer .searchImgContainer,
.columnFlex .searchMovieContainer .discoverImgContainer,
.columnFlex .searchMovieContainer .popularImageContainer,
.columnFlex .searchMovieContainer .genresImageContainer,
.columnFlex .searchMovieContainer .searchImgContainer {
    width: 100%;
    height: 70%;
  }
  .columnFlex .discoverFlexContainer .discoverImgContainer img,
.columnFlex .discoverFlexContainer .popularImageContainer img,
.columnFlex .discoverFlexContainer .genresImageContainer img,
.columnFlex .discoverFlexContainer .searchImgContainer img,
.columnFlex .popularFlexContainer .discoverImgContainer img,
.columnFlex .popularFlexContainer .popularImageContainer img,
.columnFlex .popularFlexContainer .genresImageContainer img,
.columnFlex .popularFlexContainer .searchImgContainer img,
.columnFlex .genresFlexContainer .discoverImgContainer img,
.columnFlex .genresFlexContainer .popularImageContainer img,
.columnFlex .genresFlexContainer .genresImageContainer img,
.columnFlex .genresFlexContainer .searchImgContainer img,
.columnFlex .searchMovieContainer .discoverImgContainer img,
.columnFlex .searchMovieContainer .popularImageContainer img,
.columnFlex .searchMovieContainer .genresImageContainer img,
.columnFlex .searchMovieContainer .searchImgContainer img {
    border-radius: 15px 15px 0 0px;
    -o-object-fit: cover;
       object-fit: cover;
    height: 340px;
    width: 100%;
    -o-object-position: center;
       object-position: center;
  }
  .columnFlex .discoverFlexContainer .discoverTextContainer,
.columnFlex .discoverFlexContainer .popularTextContainer,
.columnFlex .discoverFlexContainer .genresTextContainer,
.columnFlex .discoverFlexContainer .searchTextContainer,
.columnFlex .popularFlexContainer .discoverTextContainer,
.columnFlex .popularFlexContainer .popularTextContainer,
.columnFlex .popularFlexContainer .genresTextContainer,
.columnFlex .popularFlexContainer .searchTextContainer,
.columnFlex .genresFlexContainer .discoverTextContainer,
.columnFlex .genresFlexContainer .popularTextContainer,
.columnFlex .genresFlexContainer .genresTextContainer,
.columnFlex .genresFlexContainer .searchTextContainer,
.columnFlex .searchMovieContainer .discoverTextContainer,
.columnFlex .searchMovieContainer .popularTextContainer,
.columnFlex .searchMovieContainer .genresTextContainer,
.columnFlex .searchMovieContainer .searchTextContainer {
    width: 80%;
    padding: 15px;
    height: 30%;
    position: relative;
  }
  .columnFlex .discoverFlexContainer .discoverTextContainer h3,
.columnFlex .discoverFlexContainer .popularTextContainer h3,
.columnFlex .discoverFlexContainer .genresTextContainer h3,
.columnFlex .discoverFlexContainer .searchTextContainer h3,
.columnFlex .popularFlexContainer .discoverTextContainer h3,
.columnFlex .popularFlexContainer .popularTextContainer h3,
.columnFlex .popularFlexContainer .genresTextContainer h3,
.columnFlex .popularFlexContainer .searchTextContainer h3,
.columnFlex .genresFlexContainer .discoverTextContainer h3,
.columnFlex .genresFlexContainer .popularTextContainer h3,
.columnFlex .genresFlexContainer .genresTextContainer h3,
.columnFlex .genresFlexContainer .searchTextContainer h3,
.columnFlex .searchMovieContainer .discoverTextContainer h3,
.columnFlex .searchMovieContainer .popularTextContainer h3,
.columnFlex .searchMovieContainer .genresTextContainer h3,
.columnFlex .searchMovieContainer .searchTextContainer h3 {
    margin-top: 0;
  }
  .columnFlex .discoverFlexContainer .discoverTextContainer h4,
.columnFlex .discoverFlexContainer .popularTextContainer h4,
.columnFlex .discoverFlexContainer .genresTextContainer h4,
.columnFlex .discoverFlexContainer .searchTextContainer h4,
.columnFlex .popularFlexContainer .discoverTextContainer h4,
.columnFlex .popularFlexContainer .popularTextContainer h4,
.columnFlex .popularFlexContainer .genresTextContainer h4,
.columnFlex .popularFlexContainer .searchTextContainer h4,
.columnFlex .genresFlexContainer .discoverTextContainer h4,
.columnFlex .genresFlexContainer .popularTextContainer h4,
.columnFlex .genresFlexContainer .genresTextContainer h4,
.columnFlex .genresFlexContainer .searchTextContainer h4,
.columnFlex .searchMovieContainer .discoverTextContainer h4,
.columnFlex .searchMovieContainer .popularTextContainer h4,
.columnFlex .searchMovieContainer .genresTextContainer h4,
.columnFlex .searchMovieContainer .searchTextContainer h4 {
    margin-bottom: 5px;
  }
  .columnFlex .discoverFlexContainer .discoverTextContainer p,
.columnFlex .discoverFlexContainer .popularTextContainer p,
.columnFlex .discoverFlexContainer .genresTextContainer p,
.columnFlex .discoverFlexContainer .searchTextContainer p,
.columnFlex .popularFlexContainer .discoverTextContainer p,
.columnFlex .popularFlexContainer .popularTextContainer p,
.columnFlex .popularFlexContainer .genresTextContainer p,
.columnFlex .popularFlexContainer .searchTextContainer p,
.columnFlex .genresFlexContainer .discoverTextContainer p,
.columnFlex .genresFlexContainer .popularTextContainer p,
.columnFlex .genresFlexContainer .genresTextContainer p,
.columnFlex .genresFlexContainer .searchTextContainer p,
.columnFlex .searchMovieContainer .discoverTextContainer p,
.columnFlex .searchMovieContainer .popularTextContainer p,
.columnFlex .searchMovieContainer .genresTextContainer p,
.columnFlex .searchMovieContainer .searchTextContainer p {
    font-size: 0.8rem;
    color: #808080;
  }

  .grow {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  .grow:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 940px) and (max-width: 768px) {
  aside {
    display: none;
  }

  header .navFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .navFlex .inputItem > form:nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .navFlex .infoPopUp button {
    padding: 8px 10px 4px;
  }
  header .navFlex .infoIcon {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
  }

  .mobileNav {
    display: contents;
  }
  .mobileNav ul.mobileMenu {
    width: 30%;
  }

  .mainHeader {
    text-align: center;
  }

  h2 {
    margin: 35px 0 0 0;
  }

  .genreDropDown {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 1rem;
    margin-left: 0;
  }

  .movieFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .movieFlex .movieContainer {
    margin: 25px 40px;
    width: 90%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    border-radius: 15px;
    background-color: #171717;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  }
  .movieFlex .movieContainer .trendingImgContainer {
    width: 100%;
    height: 70%;
  }
  .movieFlex .movieContainer .trendingImgContainer img {
    border-radius: 15px 15px 0 0px;
    -o-object-fit: cover;
       object-fit: cover;
    height: 340px;
    width: 100%;
    -o-object-position: center;
       object-position: center;
  }
  .movieFlex .movieContainer .trendingTextContainer {
    width: 80%;
    padding: 15px;
    height: 30%;
    position: relative;
  }
  .movieFlex .movieContainer .trendingTextContainer h3 {
    margin-top: 0;
  }
  .movieFlex .movieContainer .trendingTextContainer h4 {
    margin-bottom: 5px;
  }
  .movieFlex .movieContainer .trendingTextContainer p {
    font-size: 0.8rem;
    color: #808080;
  }
}
@media (max-width: 568px) {
  header .desktopNav {
    position: relative;
  }
  header .desktopNav .infoPopUp button {
    padding: 7px 10px 4px;
  }
  header .desktopNav .infoIcon {
    position: absolute;
    top: 0.55rem;
    right: -0.5rem;
  }
  header label[for=mobileToggle] {
    top: 0.5rem;
    left: 0.5rem;
  }

  .mobileNav ul.mobileMenu {
    width: 40%;
    left: -40%;
  }

  .genreDropDown select {
    width: 35%;
  }
}
@media (max-width: 480px) {
  header .desktopNav {
    position: relative;
  }
  header .desktopNav .navFlex .inputItem {
    width: 60%;
  }
  header .desktopNav .navFlex .infoIcon {
    position: absolute;
    top: 0.55rem;
  }

  .mobileNav ul.mobileMenu {
    width: 45%;
    left: -45%;
  }

  .genreDropDown select {
    width: 40%;
  }

  footer p:nth-child(2) {
    font-size: 0.9rem;
  }
}
@media (max-width: 320px) {
  header .desktopNav {
    position: relative;
  }
  header .desktopNav .navFlex h1 {
    font-size: 2.5rem;
  }
  header .desktopNav .navFlex .inputItem {
    width: 80%;
    text-align: center;
  }
  header .desktopNav .navFlex .infoPopUp button {
    border-radius: 10px;
  }
  header .desktopNav .navFlex .infoIcon {
    position: absolute;
    top: 0.53rem;
    font-size: 0.6rem;
  }
  header label .fa-bars {
    font-size: 1.5rem;
  }

  .mobileNav ul.mobileMenu {
    width: 65%;
    left: -65%;
  }

  .genreDropDown {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .genreDropDown select {
    width: 75%;
    margin-top: 1rem;
  }

  .movieFlex .movieContainer {
    margin: 25px 20px;
    width: 80%;
  }
}